@import '../../global.scss';

.layoutSolicitacao {
    display: flex;
}

.containerSolicitacao {
    /* border: 1px blue solid; */
    width: 95vw;
}

.headerSolicitacao {
    // border: 1px solid red;
    width: 20vw;
    height: 8vh;
}

.mainSolicitacao {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

input, select, textarea {
    border-radius: 6px;
    border: .8px solid #CBD4E1;
    height: 5vh;
    width: 100%;
}

label {
    font-weight: 700;
    font-size: 1rem;
}

textarea {
    height: 10vh;
}

.formSolicitacao {
    display: flex;
    /* border: 1px solid yellow; */
    width: 100%;
    justify-content: space-between;

    .grupo1 {
        // border: solid green;
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}

.inputNome {
    // border: 1px solid red;
    width: 45%;
}

.inputEmpresa {
    // border: solid yellowgreen;
    width: 25%;
}

.inputContas {
    // border: solid orange;
    width: 25%;
}

.inputMotivo {
    // border: solid blueviolet;
    width: 100%;
}

.barraVertical {
    width: .1vw;
    /* border: 1px solid $cinza-claro; */
    height: 25vh;
}

.grupo2 {
    width: 60%;
    height: 25vh;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
}

.inputData {
    /* border: solid green; */
    width: 25%;
}

.despesas {
    /* border: solid blue; */
    width: 30%;
}

.centroDeCusto {
    /* border: solid yellow; */
    width: 40%;
}

.ordem, .divisoes, .pep, .distancia {
    /* border: solid red; */
    width: 9%;
}

.moeda, .valorKm, .valorFaturado, .despesas {
    /* border: solid pink; */
    width: 12%;
}

.botoes {
    width: 15%;
    // border: solid purple; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btnSalvar {
    background-color: $azul-escuro;
    color: white;
    width: 5vw;
}

.btnDel {
    background-color: $azul-claro;
    color: white;
    width: 2vw;
}

table {
    width: 100%;
    border: solid .8px $cinza-claro;
    border-collapse: collapse;
}

th {
    background-color: $cinza-claro;
    font-weight: 400;
    font-size: 1rem;
}

td, th {
    border: solid .8px $cinza-claro;
    text-align: center;
}