@import '../../global.scss';

.containerReembolsos {
    display: flex;
    flex-direction: row;
}     

header {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
}

.mainReembolsos {
    // border: 1px solid red;
    height: 95vh;
    width: 100vw;
}

.containerCards {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50vw;
    margin: 2rem 0;
    article {
        width: 15vw;
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: .8px $cinza-claro solid;
        border-radius: 6px;
    }
}

.containerStatus {
    border: .8px $cinza-claro solid;
    border-radius: 6px;
    height: 15vh;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
        display: flex;
        gap: .5rem;
        width: 20%;
        align-items: center;
        height: 5vh;

        .containerIcon {
            border-radius: 6px;
            display: flex;
            
            display: flex;          
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $azul-claro;  
        }       
    }
}

.containerSistema {
    display: flex;
    width: 9vw;
    justify-content: space-between;
    margin-top: 2rem;

    p {
        color: $azul-escuro;
    }
}