@import '../../global.scss';

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 5vw;
    height: 100vh;
    padding: 1rem 0;

    section {
        height: 40vh;
        width: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }
        button {
            background-color: $azul-escuro;
            width: 60%;
            height: 5vh;
            cursor: pointer;
        }       

        .buttonSair {
            background-color: $cinza-claro;
        }
}